# 주린이의 주가 예측

In [91]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import urllib.parse
from datetime import date

In [5]:
import FinanceDataReader as fdr
import datetime

In [ ]:
# 투자심리선이란 최근 12일 동안 주가가 전일과 대비해서 상승한 일수와 하락한 일수를 계산하여 
# 12일 중 상승 일수가 며칠이었는가에 대한 비율을 나타낸다. 
# 투자심리도가 75% 이상이면 과열상태로 판단하여 매도시점이 되고,
# 반대로 25% 이하일 경우 매입시점이 된다.

In [6]:
# 그냥 안전하게 코스피 종목만...
kospi = fdr.StockListing('kospi')

In [16]:
# 종목코드, 종목명 찾기
name = kospi[kospi['Name'] == input()]
comCode = name.iloc[0][0]
comName = name.iloc[0][2]

 삼성전자

In [28]:
# 시작일 (날짜 형식 : YYYYMMDD)
BeginDate = input()

#종료일 (날짜 형식 : YYYYMMDD)
EndDate = input()

 20210101
 20210601

In [84]:
stockData = fdr.DataReader(comCode, BeginDate, EndDate)
stockData

             Open   High    Low  Close    Volume    Change
Date
2021-01-04  81000  84400  80200  83000  38655276  0.024691
2021-01-05  81600  83900  81600  83900  35335669  0.010843
2021-01-06  83300  84500  82100  82200  42089013 -0.020262
2021-01-07  82800  84200  82700  82900  32644642  0.008516
2021-01-08  83300  90000  83000  88800  59013307  0.071170
...           ...    ...    ...    ...       ...       ...
2021-05-26  80400  80500  79700  79800  11984359 -0.001252
2021-05-27  80000  80000  79100  79600  23198510 -0.002506
2021-05-28  79800  80400  79400  80100  12360199  0.006281
2021-05-31  80300  80600  79600  80500  13321324  0.004994
2021-06-01  80500  81300  80100  80600  14058401  0.001242

[102 rows x 6 columns]

In [88]:
def judge(inValue):
    if inValue < 0:
        return 0
    elif inValue > 0:
        return 1

stockData["NEW_Change"] = stockData.Change.apply(judge)
stockData

             Open   High    Low  Close    Volume    Change  NEW_Change
Date
2021-01-04  81000  84400  80200  83000  38655276  0.024691         1.0
2021-01-05  81600  83900  81600  83900  35335669  0.010843         1.0
2021-01-06  83300  84500  82100  82200  42089013 -0.020262         0.0
2021-01-07  82800  84200  82700  82900  32644642  0.008516         1.0
2021-01-08  83300  90000  83000  88800  59013307  0.071170         1.0
...           ...    ...    ...    ...       ...       ...         ...
2021-05-26  80400  80500  79700  79800  11984359 -0.001252         0.0
2021-05-27  80000  80000  79100  79600  23198510 -0.002506         0.0
2021-05-28  79800  80400  79400  80100  12360199  0.006281         1.0
2021-05-31  80300  80600  79600  80500  13321324  0.004994         1.0
2021-06-01  80500  81300  80100  80600  14058401  0.001242         1.0

[102 rows x 7 columns]

In [ ]:
stockData

In [17]:
stockData.fillna(method='bfill')

               시가     고가     저가     종가       거래량       전날거래량
날짜
2020-12-29  78800  78900  77300  78300  30339449  30339449.0
2020-12-30  77400  81300  77300  81000  29417421  30339449.0

In [42]:
# 주가 정보를 가져옴
def getClosePrice(code, startDay, EndDay):
    today = date.today()
    if startDay >= today or EndDay >= today or startDay > EndDay:
        print("date Error #1")
        return None
    if code is None:
        print("code Error #1")
        return None
    stockData = fdr.DataReader(code, startDay, EndDay)
    #print(stockData.head())
    return stockData

In [102]:
# 함수설명 : 투자심리선 지표 = 2주간의 상승일수 / 12 * 100 (※ 2주=12일로 설정된 경우)
#            75% 이상인 경우 단기 과열상태, 25% 이하이면 단기 침체상태
# author : 3기 주신이

set_period = 12 # 오늘날짜 기준 12일 전부터의 주식데이터 접근

def psychoLine (df):
    stockDiffList = []
    pLineList = []
    if len(df) < set_period:  # 가져온 주식데이터가 12일만큼의 데이터가 없을 때
        print("DataSet is not enough")
        pass
    else:
        df["stockDiff"] = 0  # stockDiff의 첫번째 값은 NaN이기 때문에 초기 세팅을 0값으로 준 후 그 다음 열부터 종가차이 깂을 넣어준다.
        df.loc[1:, "stockDiff"] = df["Close"] - df.shift(1)["Close"]
        for i in range(0, len(df)):
            #     stockDiffList = list(data.stockDiff[i-set_period:i])
            stockDiffList.append(list(df.stockDiff[(i + 1) - set_period:(i + 1)]))

        #         pLineList = []
        for stockDiff in stockDiffList:
            if not stockDiff:  # 리스트가 비어있을 때
                print(" StockDiff Data does not exist")
                pLineList.append("0")
            else:
                plusValue = []
                for stockDiffValue in stockDiff:
                    if stockDiffValue > 0:
                        plusValue.append(stockDiffValue)
                #               len(plusValue)
                pLineSon = len(plusValue)
                pLineMother = len(stockDiff)
                if pLineMother == 0:
                    pass
                else:
                    pLine = pLineSon / pLineMother * 100
                    pLineList.append(pLine)
    df["pLineValue"] = pLineList
    print(df)
    print(len(df))
    return df["pLineValue"].plt()

In [103]:
psychoLine(stockData)

 StockDiff Data does not exist
 StockDiff Data does not exist
 StockDiff Data does not exist
 StockDiff Data does not exist
 StockDiff Data does not exist
 StockDiff Data does not exist
 StockDiff Data does not exist
 StockDiff Data does not exist
 StockDiff Data does not exist
 StockDiff Data does not exist
 StockDiff Data does not exist
             Open   High    Low  Close    Volume    Change  NEW_Change  \
Date
2021-01-04  81000  84400  80200  83000  38655276  0.024691         1.0
2021-01-05  81600  83900  81600  83900  35335669  0.010843         1.0
2021-01-06  83300  84500  82100  82200  42089013 -0.020262         0.0
2021-01-07  82800  84200  82700  82900  32644642  0.008516         1.0
2021-01-08  83300  90000  83000  88800  59013307  0.071170         1.0
...           ...    ...    ...    ...       ...       ...         ...
2021-05-26  80400  80500  79700  79800  11984359 -0.001252         0.0
2021-05-27  80000  80000  79100  79600  23198510 -0.002506         0.0
2021-05-28  79800  80400  79400  80100  12360199  0.006281         1.0
2021-05-31  80300  80600  79600  80500  13321324  0.004994         1.0
2021-06-01  80500  81300  80100  80600  14058401  0.001242         1.0

            stockDiff pLineValue
Date
2021-01-04        0.0          0
2021-01-05      900.0          0
2021-01-06    -1700.0          0
2021-01-07      700.0          0
2021-01-08     5900.0          0
...               ...        ...
2021-05-26     -100.0    33.3333
2021-05-27     -200.0         25
2021-05-28      500.0    33.3333
2021-05-31      400.0    41.6667
2021-06-01      100.0         50

[102 rows x 9 columns]
102

<ipython-input-102-5560cba5524c>:15: FutureWarning: Slicing a positional slice with .loc is not supported, and will raise TypeError in a future version.  Use .loc with labels or .iloc with positions instead.
  df.loc[1:, "stockDiff"] = df["Close"] - df.shift(1)["Close"]

AttributeError: 'Series' object has no attribute 'plt'